.boton {
    height: 70px;
    display: flex;
    flex: 1 1;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    background-color: rgb(12, 12, 12);
    color: white;
    border: 1px solid #333;
    cursor: pointer;
    user-select: none;
}
.operador{
    background-color: rgb(24, 22, 22);
}
.boton:hover {
    background-color: #333;
    border: 0.2px solid #373535;
}
.operador:hover {
    background-color: rgb(12, 12, 12) !important;
    border-color:0.2px solid #1c1c1c !important;
}