.botonigual {
    height: 65px;
    display: flex;
    flex: 1 1;
    justify-content: center;
    align-items: center;
    font-weight: lighter;
    background-color:#134369;
    color: white;
    border: 1px solid #333;
    cursor: pointer;
    user-select: none;
    border-radius: 5px;
    font-size: 14px;
}



.igual{
    background-color:#134369;
}

.igual:hover {
    background-color: #12527c!important;
    border-color:0.2px solid #1c1c1c !important;
}