.boton-clear{
    height: 65px;
    display: flex;
    flex: 1 1;
    justify-content: center;
    align-items: center;
    font-weight: lighter;
    background-color: rgb(24, 22, 22);
    color: white;
    border: 1px solid #333;
    cursor: pointer;
    user-select: none;
}
.boton-clear:hover{
    background-color: rgb(12, 12, 12) !important;
    border-color:0.2px solid #1c1c1c !important;
}
